################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Eureka
/Discovery.Zookeeper/obj
/Eureka/bin/Debug/netstandard2.1
/Eureka/obj
/ZooProxy/obj
